src/main/mule/gitsample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f3abdec0-2eed-4374-904c-ae2bc0614c97" >
		<http:listener-connection host="0.0.0.0" port="8086" />
	</http:listener-config>
	<flow name="gitsampleFlow" doc:id="d82a1aa0-363b-4da6-a264-1ecdd2955255" >
		<http:listener doc:name="Listener" doc:id="d3658870-b376-4b24-b638-7834cb539688" config-ref="HTTP_Listener_config" path="/git"/>
		<ee:transform doc:name="Transform Message" doc:id="0ad64d20-b402-4e01-9464-e36afe0986f1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6bca239c-7e9b-4aae-b521-a5aa889951b8" message="#[payload]"/>
	</flow>
</mule>
